body{
    background-color: rgb(192, 192, 192);

}
ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-style: oblique;
    color: blueviolet;
    margin: 0;
}

a:any-link{
    text-decoration: none;
}
a:visited{
    color: rgb(39, 21, 207);
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}
form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

h2 {
    padding-left: 20px;
}

input {
    font-size: larger;
    height: 20px;
    width: 256px;
    padding: 10px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 2px;
}

button {
    cursor: pointer;
    border: 1px solid rgb(117, 116, 116);;
    height: 40px;
    width: 512px;
    border-radius: 5px;
    font-size: large;
}
#duplicateField {
    color: black;
    font-size: larger;
    padding-left: 15px;
}