body{
    background-color: cornsilk;

}
ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-style: oblique;
    color: blueviolet;
    margin: 0;
}

a:any-link{
    text-decoration: none;
}
a:visited{
    color: rgb(39, 21, 207);
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}
form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

h2 {
    padding-left: 20px;
}